*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_01_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_02_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_03_3840x2160_0_sec_5_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_04_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_05_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_06_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_07_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_08_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_09_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_10_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_11_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_12_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_13_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_14_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_15_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_16_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_17_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_18_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_19_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_20_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_21_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_22_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_23_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_24_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_25_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_26_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_27_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_28_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_29_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_30_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_31_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_32_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_33_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_34_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_35_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_36_3840x2160_5_sec_3_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_37_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_38_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_39_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_40_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_41_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_42_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_43_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_44_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_45_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_46_3840x2160_5_sec_1_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_47_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_48_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_49_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_50_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_51_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_52_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_53_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_54_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
data/videos/3840x2160_30fps/vid_55_3840x2160_5_sec_2_tool.avi filter=lfs diff=lfs merge=lfs -text
